<!-- COLOR PALLETE: TAILWINDCSS's AMBER-600 and BLUE-900 -->

<!doctype html>
<html>
    <head>
    {% if title %}
        <title>{{ title }} - GitMatched</title>
    {% else %}
        <title>GitMatched</title>
    {% endif %}
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

    </head>
    <body class="bg-white text-black overflow-scroll">
        <nav class="z-10 flex justify-between items-center text-xl w-screen">
            <a class="mt-10 ml-10" href="{{ url_for('dashboard') }}">
                <img class="h-10 w-14" src="../static/images/logo.png" alt="logo"> 
            </a>
            <div class="mr-10 mt-10">
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('register') }}" class="font-extrabold px-3 py-1 rounded-lg bg-transparent text-amber-600 border-amber-600 border-4">Register</a>
                    <a href="{{ url_for('login') }}" class="font-extrabold px-3 py-1 rounded-lg mx-2 text-white bg-amber-600">Login</a>
                {% else %}
                    <h1>Hi, {{ current_user.username }}!</h1>
                    <a href="{{ url_for('user', username=current_user.username) }}" class="underline text-blue-500 text-bold">Profile</a>
                    <a href="{{ url_for('dashboard') }}" class="underline text-blue-500 text-bold">Dashboard</a>
                    <a href="{{ url_for('logout') }}" class="font-extrabold px-3 py-1 rounded-lg mx-2 text-white bg-amber-600">Logout</a>
                {% endif %}
            </div>
        </nav>

        <hr class="my-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        {% if not message.startswith("Congratulations!") %}
                            <li class='text-center font-extrabold text-2xl m-2'>{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}

        

        <script type="text/javascript" src="{{url_for('static',filename='main.js')}}"></script>
    </body>
</html>