{% extends "base.html" %}

{% block body %}

  <div class="text-5xl font-extrabold text-center m-10">DASHBOARD</div>

  <!-- The Modal -->
  {% with messages = get_flashed_messages() %}
      <div id="id01" class="{{ 'flex' if isModalOpen else 'hidden' }} justify-center align-middle w-screen h-screen absolute">
        <div class="w-96 h-96 bg-white rounded-xl p-4 shadow-2xl shadow-slate-800 flex flex-row justify-between">
            <!-- {% with messages = get_flashed_messages() %} -->
              {% if messages %}
                  <ul>
                      {% for message in messages %}
                          {% if message.startswith("Congratulations!") %}
                              <li class='text-center font-extrabold text-2xl m-2'>{{ message[0:34] }} <a class="underline text-blue-500" href="{{ url_for('user', username=message[34:]) }}">{{ message[34:] }}<a/></li>
                          {% endif %}
                      {% endfor %}
                  </ul>
              {% endif %}
            <!-- {% endwith %} -->
            <span onclick="document.getElementById('id01').style.display='none'" class="text-red-600 font-bold text-3xl cursor-pointer">&times;</span>
        </div>
      </div>
  {% endwith %}

  <!-- CARDS -->

  <div class="w=full flex justify-center align-center">
    {% if not empty %}
      <div class="m-4 bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-lg transition-shadow duration-300 ease-in-out md:w-1/2">
        <a href="{{ url_for('user', username=user.username) }}" class="block text-center font-bold text-2xl text-gray-800 py-4 hover:text-amber-600 transition-colors duration-300 ease-in-out">{{ user.username }}</a>
        <div class="px-6 py-4 text-center text-gray-700">
          <div class="mb-2">Coding Language: {{ user.code_snippet_lang }}</div>
          <code class="block bg-gray-200 px-4 py-2 rounded-lg font-mono">{{ user.code_snippet }}</code>
          <div class="m-2 text-center">Similarity Score: {{ similarity_score }}%</div>
        </div>
        <div class="flex flex-row justify-between px-6 py-4">
          <a href="{{ url_for('approve_user', username=user.username) }}" class="flex-1 mr-2 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="print_something()">APPROVE</a>
          <a href="{{ url_for('reject_user', username=user.username) }}" class="flex-1 ml-2 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">REJECT</a>
        </div>
      </div>
    {% else %}
      <div class="bg-amber-600 text-white p-10 w-max font-extrabold text-4xl text-center">NO MATCHES AVAILABLE RIGHT NOW</div>
    {% endif %}
  </div>

{% endblock %}