{% extends "base.html" %}

{% block body %}

<div class="bg-white min-h-screen flex flex-col items-center justify-center px-2">
    <h1 class="mb-8 text-3xl text-center">Sign In</h1>
    <form action="" method="post" novalidate class="w-full max-w-sm rounded-lg shadow-md bg-white p-8">
      {{ form.hidden_tag() }}
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-bold mb-2">{{ form.username.label }}</label>
        {{ form.username(size=32, class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-amber-300") }}
        {% for error in form.username.errors %}
        <p class="text-red-500 text-xs italic">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 font-bold mb-2">{{ form.password.label }}</label>
        {{ form.password(size=32, class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-amber-300") }}
        {% for error in form.password.errors %}
        <p class="text-red-500 text-xs italic">{{ error }}</p>
        {% endfor %}
      </div>
      <!-- <div class="mb-4">
        <label for="remember_me" class="block text-gray-700 font-bold mb-2">{{ form.remember_me.label }}</label>
        <div class="flex items-center">
          {{ form.remember_me(class="form-checkbox h-5 w-5 text-amber-500") }}
          <span class="ml-2 text-gray-700">{{ form.remember_me() }}</span>
        </div>
      </div> -->
      <div class="flex items-center justify-between">
        <button class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          {{ form.submit() }}
        </button>
      </div>
    </form>
    <p class="mt-6">New User? <a href="{{ url_for('register') }}" class="text-amber-500 font-bold hover:text-amber-700">Click to Register!</a></p>
  </div>
{% endblock %}