{% extends "base.html" %}

{% block body %}
<div class="container mx-auto px-4 py-8">
    <div class="text-center mb-8">
        <h1 class="text-3xl font-bold">User: {{ user.username }}</h1>
        {% if user.code_snippet_lang %}
            <div class="text-left py-4 px-4">
                Code Snippet Language: <b class="text-amber-600 font-extrabold">{{ user.code_snippet_lang }}</b>
            </div>
        {% endif %}
        {% if user.matching_lang %}
            <div class="text-left pb-4 px-4">
                Matching Language: <b class="text-amber-600 font-extrabold">{{ user.matching_lang }}</b>
            </div>
        {% endif %}
        {% if user.code_snippet %}
            <div class="bg-gray-100 text-left rounded-md pt-1 pb-4 px-4 whitespace-pre-wrap font-mono">
                {{ user.code_snippet }}
            </div>
        {% endif %}
        <hr class="my-4">
        {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}" class="text-amber-600 hover:text-amber-700 font-bold">Edit your profile</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
